.App {
  text-align: center;
}

.App-logo {
  height: 65px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginContainer{
  background-color: #161616;
}

.LoginContent {
  background-color: #E5E5E5;
}
.LoginCard {
  box-shadow: none !important;
}
.BlackStyle{
  color: #26E2B3;
}
.PrimaryButtonStyle{
  background-color: #2FC5A1 !important;
  color: #676767;
}
.SecondaryButtonStyle{
  border-color: #2FC5A1 !important;
  color: #2FC5A1 !important;
}